* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-height: 100vh;
  margin: 20px;
}
.container {
  padding: 4%;
  border: 5px solid blue;
}
.main {
  text-align: justify;
}
img {
  float: left;
  max-width: 400px;
  max-height: 265px;
  width: auto;
  height: auto;
  margin-right: 2%;
}
h1 {
  margin-bottom: 1%;
}
